In [1]:
from sklearn.impute import SimpleImputer

In [2]:
 import pandas as pd

In [4]:
Salary_details=pd.DataFrame({'salary':[1000,50000,15000,2000],'cat':['low','High','mid','low']})

In [5]:
Salary_details

   salary   cat
0    1000   low
1   50000  High
2   15000   mid
3    2000   low